# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
vendor
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# misc
/storage/tntsearch/*.index
/storage/framework/maintenance.php
.htaccess
public/.htaccess
public/favicon
public/favicon.ico
install_files
/public/hot
/storage/*.key
Homestead.json
Homestead.yaml
.env
data.ms
/test-results/
/playwright-report/
/playwright/.cache/
storageState.json
# translation files (include default "en"), will be created during installation
resources/lang/*.json

# Sentry Auth Token
.env.sentry-build-plugin

website.zip
storage/app/geoip.mmdb
storage/framework/sessions/.gitignore
storage/framework/sessions/0NNAW39oKcZxir0aejntbBJLkgdBqXxWf7uXVVEi
storage/framework/sessions/0q93Yd8hmRQ2cCaxdPsPryBzI1nbJYB5DZ50V0hx
storage/framework/sessions/4nsiO59yuFWXJdC1w0qsnftWA8bZ7MUDbkEvbLmR
storage/framework/sessions/ARpQRGdKJOrXK7FRsqyANdHawoo1zgiTn6LwC57y
storage/framework/sessions/hOA9jLZ1ZzfrjXKIVFTaeDaMdnntkN9zlizhDIN0
storage/framework/sessions/kPycwWcxUEuD276H4IbEVavkWkrHyDiZQezS2xvI
storage/framework/sessions/lji6Xn4aG2IQ1wwRa3HAU8GJTJwn9jg78S8zoxRb
storage/framework/sessions/Ojf8g8zkXunCoeoxf8HwGAmRoe0qMEK35JoxkrRn
storage/framework/sessions/oKl1qbcqFOdr3g8ENC18saqZIFMslsTfxPR3Ej2R
storage/framework/sessions/REsuOmrzrnaVSuiKre8Im1FAvaTojZpukMGVh8q1
storage/framework/sessions/S7hOQbIKuYki4Ut07dZbr1Sta1RcVC50Q1hefvTL
storage/framework/sessions/tvX5Bmq93l12xNgnu1hNZKZED8OVcbxRa6lTRRy3
storage/framework/sessions/vhpidkTIM0FOfpEcmzL0VCBNoCuxHsr40YmIk09j
storage/framework/sessions/VPqh13zutkOHrWv1XpnEAf83SlTlFAkVFnb4UTrN
storage/framework/sessions/WJVheZ7GVg8djOlS5YJ1KnleEclebHqbrXlHOcmR
storage/framework/sessions/wRvOACsTQeZZbwabeOeSBviGCwUKlAWGxA0kq1gX
storage/framework/sessions/xTzTmEbe1kZT8pwzTORMsRU5eCICiLi2la5Afufc
storage/framework/sessions/YpGmQShMuPETHkxZOMN9J9oPHFBHUR9rq6YYI2DD
storage/framework/sessions/zdhiiYxciPczxTL2LmMQyQ0ix8GwmvjgXVCoGmnw
storage/framework/cache/.gitignore
.gitignore
